name: Pytest Automation CI

on:
  push:
    branches: ["main"]
  pull_request:

jobs:

  fast-tests:
    name: All Tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install -r requirements-dev.txt

      - name: Set PYTHONPATH
        run: echo "PYTHONPATH=$GITHUB_WORKSPACE" >> $GITHUB_ENV

      - name: Debug workspace
        run: |
          echo "Current directory:"
          pwd
          echo "List files:"
          ls -R

      - name: Run non-UI tests
        run: pytest -k "not ui" -v


  ui-tests:
    name: Selenium UI Tests
    needs: fast-tests
    runs-on: ubuntu-latest

    services:
      selenium:
        image: selenium/standalone-chrome:latest
        ports:
          - 4444:4444
        options: >-
          --shm-size=2g

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install -r requirements-dev.txt

      - name: Create Docker network
        run: docker network create testnet

      - name: Build FastAPI image
        run: docker build -f fastapi.Dockerfile -t fastapi-test .

      - name: Run FastAPI container
        run: |
          docker run -d \
            --network testnet \
            --name fastapi \
            -p 5005:5005 \
            fastapi-test

          sleep 5

      - name: Run UI tests
        env:
          SELENIUM_URL: http://localhost:4444/wd/hub
          FASTAPI_URL: http://fastapi:5005
        run: pytest -m ui -v

      - name: Generate HTML Report
        run: pytest --html=ui-report.html --self-contained-html -m ui

      - uses: actions/upload-artifact@v4
        with:
          name: ui-tests-report
          path: ui-report.html

      - name: Cleanup containers
        if: always()
        run: |
          docker rm -f f
