name: Pytest Automation CI

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:

  fast-tests:
    name: Unit + API + Async Tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements-dev.txt

      - name: Run non-UI tests
        run: pytest -k "not ui" -v --maxfail=1 --disable-warnings

      - name: Generate report
        run: pytest --html=report.html --self-contained-html -k "not ui"

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: fast-tests-report
          path: report.html


  ui-tests:
    name: Selenium UI Tests
    needs: fast-tests
    runs-on: ubuntu-latest

    services:
      selenium:
        image: selenium/standalone-chrome:latest
        options: >-
          --shm-size=2g
        ports:
          - 4444:4444

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements-dev.txt

      - name: Run UI tests
        env:
          SELENIUM_URL: http://localhost:4444/wd/hub
        run: pytest -m ui -v

      - name: Upload UI Test Report
        run: pytest --html=ui-report.html --self-contained-html -m ui

      - uses: actions/upload-artifact@v4
        with:
          name: ui-tests-report
          path: ui-report.html
